<!DOCTYPE html>
<html lang="en">  
<head>
    <title>search</title>
</head>
<body>
    <form action="https://www.google.com/search?" method="get">
        <h1 align="center">Google search</h1>
        <input id="input" name ="q" type="text" style="margin:0px auto; display:block;" autofocus="true" placeholder="search.."></input>
        <button action="submit"></button>
    </form>
</body>
<style>
    button {

        background: transparent;
        border: none !important;
        font-size:0;
    }
</style>
</html>
